
  
.menu-container {
    position: sticky;
    display: flex;
    align-items: center;
    height: 60px;
    width: 200px;
}

.menu-trigger {
    background: #fcfbf4;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    text-align: center;
    border-width: 1px;
    border-color: black;
    font-family: -apple-system;
    font-weight: lighter;

}

.menu-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  
.menu-trigger span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 18px;
    margin: 0 10px;
}

.menu {
    background: #fcfbf4;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    
}
  
.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
  
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.menu Button {
    width: 100%;
    height: 60px;
    font-size: 18px;
    outline-width: 0px;
    border-color: black;
    border-width: .5px;
    cursor: pointer;

}
  
.menu li {
    border-bottom: 1px solid black;
    text-decoration: none;
    color: #333333;
    display: block;
}

  