input {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    font-family: -apple-system;
    font-size: 1.25rem;
    background-color: #fcfbf4;
    border-width: 1px;
    border-color: black;
    outline:none;
    text-align: center;
}

input[type='text' i] {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.autocomplete-dropdown-container {
    text-align: center;
    text-overflow: ellipsis;
    padding-right: 25%;
    width: 100%;    
}

.input-suggestion{
    font-family: -apple-system;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1.25rem;
    text-overflow: ellipsis;
    font-weight:lighter;
    text-indent: 1rem;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
  }

.inputbox {
    height: 60px;
    width: 800px;
    align-items: center;
    border-width: 0px;
}