.title {
	font-family: -apple-system;
	font-size: 5rem;
	font-weight: lighter;
	display: flex;
	align-content: center;
	position: absolute;
	transform: translateY(-200%);
	outline-style:groove;
	outline-offset: 40px;
}

.searchbar{
    text-align: left;
	width: fit-content;
	height: fit-content;
	display:inline-flex;
	flex-direction: row;
}

.background-container {
	background-size: cover;
}

.bodyhome {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	align-items: center;
	display: flex;
	justify-content: center;
}

.githublogo {
	width: 5vh;
	height: 5vh;
	transform: translate(80vh, 40vh);
	position:absolute;
	background-image: url('../images/github.png');
	background-size: contain;
	background-color: transparent;
	cursor: pointer;
}

.githublink {
	width: 100%;
	height: 100%;
	display: inline-block;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
