input {
    box-sizing: border-box;
    width: 75vh;
    height: 7vh;
    font-family: -apple-system;
    font-size: 3vh;
    background-color: #fcfbf4;
    border-width: .01vh;
    border-color: black;
    outline:none;
    text-align: center;
    position: absolute;
    
}



input[type='text' i] {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.autocomplete-dropdown-container {
    text-align: center;
    text-overflow: ellipsis;
    padding-right: 25%;
    width: 100%;    
}

.input-suggestion{
    font-family: -apple-system;
    width: 75vh;
    height: 7vh;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 3vh;
    text-overflow: ellipsis;
    font-weight:lighter;
    text-indent: 2vh;
    border-width: .01vh;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
  }

.inputbox {
    height: 7vh;
    width: 80vh;
    align-items: center;
    border-width: 0px;
}