.cardstyle {
    display: flex;
    height: 280px;
    width: 100%;
    background-color:linen;
    border-radius: 10px;
    box-shadow: -.25rem 0 1rem #000;
    transition: 0.4s ease-out;
    position: relative;
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 10px;
    margin-top: 5px;

}

.cardstyle:hover {
    height: 300px;
    width: 110%;
    transform: translateX(-5%);
}


.cardbody {
    width: 100%;
    height: 100%;
}

.cardtitle {
    width: 100%;
    position:relative;
    text-align: center;
    font-size: 3rem;
    font-family: -apple-system;
    padding-top: 5%;

}

.cardinfo {
    font-size: 2rem;
    padding-top: 1rem;
    font-family: -apple-system;
    text-align: center;

}

.cardlist {
    align-items: center;
}